.nav-pills {
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    min-height: 65px;
    width: 100%;
    text-align: center;
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    color: white;
    font-size: 25px;
    font-weight: bold;
    z-index: 99;
    white-space: nowrap;
}

.nav-pills a {
    color: #fff;
}

.nav>li>a:hover {
    background-color: transparent;
}

.start {
    color: #fff;
}

.right {
    color: rgb(28, 212, 28);
}

.wrong {
    color: red;
}

.win {
    color: rgb(212, 33, 212);
}

@media screen and (max-width: 980px) {
    li {
        font-size: 25px;
    }
}

@media screen and (max-width: 768px) {
    li {
        font-size: 20px;
    }
}